# Node stuff
node_modules/
*.log
npm-debug.log*
.npm
.node_repl_history

# IntelliJ stuff
*.iml
.idea/

# Build output
dist/
### Vagrant template
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs
.env
docs/.asciidoctor
.yardoc
